FORMAT: 1A
HOST: http://itas.apiary.io/
VERSION: 1.0

# COFCO Custom API v1.0

<br />
<strong>Release notes</strong> (4<sup>th</sup> November 2025.)

## New Endpoints

<ul>
<li>Payment Requests <b>Approve Payment Request</b>: Update Approve Payment Request,<a href="/#reference/payment-requests/approve-payment-request"> Link</a></li>
<li>Payment Requests <b>Cancel Payment Request</b>: Update Cancel Payment Request,<a href="/#reference/payment-requests/cancel-payment-request"> Link</a></li>
<li>Audit Data <b>Created Audit Data</b>: List Create Audit Data,<a href="/#reference/audit-data/created-audit-data"> Link</a></li>
<li>Audit Data <b>Updated Audit Data</b>: List Update Audit Data,<a href="/#reference/audit-data/updated-audit-data"> Link</a></li>
<li>Audit Data <b>Deleted Audit Data</b>: List Delete Audit Data,<a href="/#reference/audit-data/deleted-audit-data"> Link</a></li>
</ul>

## Updated Endpoints

<ul>
<li>None</li>
</ul>
<chandiv>** ends ** </div>


## AccessToken [/AT]
Model Header containing AccessToken

+ Model 
    + Header

            Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg


# Group Audit Data

## Created Audit Data [/Audit/{TradingEntityId}/CreatedRecord/{AuditDate}/{DataType}]
`GET` Audit Data records of action type Create.

### List Create Audit Data [GET]
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|UserInitials|User Initials|`string`|3|||
|DataType|Data Type|`string`|30|||
|AssetReference|Asset Reference|`string`|4000|||
|AuditDate|Audit Date|`number`||||

+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + AuditDate (required, number, `20250908`) ... Audit Date of records.
    + DataType (required, string, `All Phys01`) ... Data Type group of records.

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [CreatedDeletedAuditData])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadReadResponse)

  
+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)

## Updated Audit Data [/Audit/{TradingEntityId}/UpdatedRecord/{AuditDate}/{DataType}]
`GET` Audit Data records of action type Update.

### List Update Audit Data [GET]
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|OldValue|Old Value|`string`|255|||
|NewValue|New Value|`string`|255|||
|UserInitials|User Initials|`string`|3|||
|DataType|Data Type|`string`|30|||
|AssetReference|Asset Reference|`string`|4000|||
|AuditDate|Audit Date|`number`||||


+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + AuditDate (required, number, `20250908`) ... Audit Date of records.
    + DataType (required, string, `All Phys01`) ... Data Type group of records.

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [UpdatedAuditData])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadReadResponse)

  
+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)

## Deleted Audit Data [/Audit/{TradingEntityId}/DeletedRecord/{AuditDate}/{DataType}]
`GET` Audit Data records of action type Delete.

### List Update Audit Data [GET]
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|UserInitials|User Initials|`string`|3|||
|DataType|Data Type|`string`|30|||
|AssetReference|Asset Reference|`string`|4000|||
|AuditDate|Audit Date|`number`||||

+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + AuditDate (required, number, `20250908`) ... Audit Date of records.
    + DataType (required, string, `All Phys01`) ... Data Type group of records.

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [CreatedDeletedAuditData])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadReadResponse)

  
+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)


# Group Payment Requests

## Approve Payment Request [/PaymentRequests/{TradingEntityId}/ApprovePaymentRequest/{PaymentRequestId}]

### Update Approve Payment Request [PATCH]
`PATCH`

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|PaymentRequestId|Payment Request ID|`number`|||Required|
|IsSuccess|Is Successful|`boolean`|||Required|
|FailureText|Failure Text|`string`|4000|||

+ Request (application/json)
    + Header

            AccessToken:Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Attributes (ApporovePaymentRequestUpdate)

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + PaymentRequestId (required, number, `1`) ... Id of Payment Request.

+ Response 201 (application/json; charset=utf-8)
    + Attributes 
        + Data
            + PaymentRequestId: 1 (number)
        + Response (200 UpdateResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)

## Cancel Payment Request [/PaymentRequests/{TradingEntityId}/CancelPaymentRequest/{PaymentRequestId}]

### Update Cancel Payment Request [PATCH]
`PATCH`

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|PaymentRequestId|Payment Request ID|`number`|||Required|
|IsSuccess|Is Successful|`boolean`|||Required|
|FailureText|Failure Text|`string`|4000|||
|DocumentReference|Document Reference|`string`|9|||

+ Request (application/json)
    + Header

            AccessToken:Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Attributes (CancelPaymentRequestUpdate)

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + PaymentRequestId (required, number, `1`) ... Id of Payment Request.

+ Response 201 (application/json; charset=utf-8)
    + Attributes 
        + Data
            + PaymentRequestId: 1 (number)
        + Response (200 UpdateResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)


# Data Structures

## 200 SuccessResponse (object)
+ Value: Success (string)

## 200 UpdateResponse (object)
+ Value: Updated (string)

## 200 DeletedResponse (object)
+ Value: Deleted (string)

## 200 AuthoriseResponse (object)
+ Value: Authorised (string)

## 201 CreateResponse (object)
+ Value: Created (string)

## 201 CreateMessages (object)
+ Messages (array [201 ErrorMessageDetail])

## 201 ErrorMessageDetail (object)
+ Severity: Warning (string)
+ Message: `API5084 - API : {fieldName} has a {fieldName} of {value}.` (string)

## 201 CreateBllMessages (object)
+ Messages (array [201 ErrorBllMessageDetail])

## 201 ErrorBllMessageDetail (object)
+ Severity: Warning (string)
+ Message: `API5084 - API : {fieldName} has a {fieldName} of {value}.` (string)

## 400 Response (object)
+ Response
    + Value: 400 Bad Request (string)
+ Messages (array [400 ErrorMessageDetail])

## 400 ErrorMessageDetail (object)
+ Severity: Error (string)
+ Message: `API5058 - Data : The mandatory field {fieldName} was missing in the request body.` (string)


## 400 BadPropertyResponse (object)
+ Response
    + Value: 400 Bad Request (string)
+ Messages (array[400 BadPropertyErrorMessageDetail])

## 400 BadPropertyErrorMessageDetail (object)
+ Severity: Error (string)
+ Message: `API5074 - API : The value sent in the querystring variable {Property} is not allowed.` (string)


## 400 BadReadResponse (object)
+ Response
    + Value: 400 Bad Request (string)
+ Messages (array[400 BadReadErrorMessageDetail])

## 400 BadReadErrorMessageDetail (object)
+ Severity: Error (string)
+ Message: `API5075 - API : The value sent in the querystring is not allowed.` (string)


## 400 WarningMessageDetail (object)
+ Severity: Warning (string)
+ Message: `API50xx - Data : The field {fieldName} was not found.` (string)

## 400 InfoMessageDetail (object)
+ Severity: Information (string)
+ Message: `API50xx - Data : Now create xyz.` (string)


## 404 Response (object)
+ Response
    + Value: 404 Not Found (string)
+ Messages (array[404 ErrorMessageDetailMessage])

## 404 ErrorMessageDetailMessage (object)
+ Severity: Warning (string)
+ Message: `API5068 - Data : No records found.` (string)


## 405 Response (object)
+ Response
    + Value: 405 Method Not Allowed (string)
+ Messages (array[405 MethodNotAllowedMessage])

## 405 MethodNotAllowedMessage (object)
+ Severity: Error (string)
+ Message: `API5077 - API : That method is not supported, please check the ITAS API documentation.` (string)

## accessToken (object)
+ Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg 

## ApporovePaymentRequestUpdate (object)
+ PaymentRequestId: 1 (number)
+ IsSuccess: false (boolean)
+ FailureText: SAP Error 1234 (string)

## CancelPaymentRequestUpdate (object)
+ PaymentRequestId: 1 (number)
+ IsSuccess: false (boolean)
+ FailureText: SAP Error 1234 (string)
+ DocumentReference: P00001.000 (string)

## CreatedDeletedAuditData (object)
+ UserInitials: DT (string)
+ DataType: All Phys01 (string)
+ AssetReference: P00001.000 (string)
+ AuditDate: 20250908 (number)

## UpdatedAuditData (object)
+ OldValue: COLOMB (string)
+ NewValue: COSTA (string)
+ UserInitials: DT (string)
+ DataType: All Phys01 (string)
+ AssetReference: P00001.000 (string)
+ AuditDate: 20250908 (number)

## Pagination (object)
+ Total: 547 (number) - total number of records available
+ Top: 200 (number) - max number returned per message 
+ Skip: 400 (number) - number of records skipped
+ Returned: 147 (number) - actual number returned
